.App {  
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangleResult__wrapper{
  color: white;
  width: 100%;
  height: 100%;
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: center;
}

#rectangle{
  width: 500px;
  height: 200px;
  /* background-color: rgb(153, 153, 250); */
  position: relative;
  border: 2px solid gray;
    /* background: linear-gradient(to bottom, rgba(238, 187, 231, 0.637) 0%, rgba(133, 135, 248, 0.5) 40%, #9aa1fa 100%); */
    background-repeat: no-repeat;
  
}
